Django==1.6.5
PyMySQL==0.6.2
South==0.8.4
dj-database-url==0.3.0
dj-static==0.0.5
django-bootstrap3==4.6.0
django-jquery==1.9.1
django-suit==0.2.8
futures==2.1.6
gunicorn==18.0
honcho==0.5.0
pystache==0.5.4
solid-i18n==0.4.3
sqlparse==0.1.11
static==1.0.2
