{% extends "prismal/base.html" %}
{% load i18n %}
{% load staticfiles %}


{# Load the tag library #}
    {% load bootstrap3 %}

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}


{%block title %}Team | Prismal Studio{% endblock %}

{% block additional_style %}
<link rel="stylesheet" type="text/css"	href="{% static 'resume/css/style.css' %}" />
{% endblock %}


{% block body %}
<div class="content-wrapper">
<div class="content">

{% include "setlang.html" %}

{% trans "This is the title" as the_title %}
<h1>{{ the_title }}</h1>
<p>{% trans "The list" %}:</p>
{% if latest_occupation_list %}
<ul>
	{% for occupation in latest_occupation_list %}
	<li>{{ occupation }}</li> {% endfor %}
</ul>
{% else %}
<p>{% trans "No life occupation are available." %}</p>
{% endif %}





    {# Display a form #}
    <form action="/url/to/submit/" method="post" class="form">
        {% csrf_token %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">
                {% bootstrap_icon "star" %} Submit
            </button>
        {% endbuttons %}
    </form>


</div>
</div>
{% endblock %}