{% comment %}
<!-- 
@file		base.html
@author		Emile Bergeron
@date		2014/06/05
@app		prismal
 -->
{% endcomment %}<!--       :+NNDMNMMMMM 7ZMOMMMMMMMMNMMMMMMMM8MMMMMMMMMMMM 7MMMM8MMMMD7...  
     .,:~?IZ++$7NDMMMMN.$MI$7MMMMMM.IDMMMMNMMMDMMMN8MMMMMMIMMMMMZMMMMMD7.   
 ..:,..      ??O7OMMMM.ZM= 7Z$MMM8  7+=MMMMZMMNMMMM+DNMMMMDNNNMO$MMMINM8+   
            +$Z~ZOMMMDI8~ ,IOMMMMN7I?~  MMNDMMMNMMMI~DNDMMMNZNNO78MD=,O88I=~
          .+$,:$ZNMZMZI~  ~MNMMM:M8O~:  IMZDD8MNMMM8 =8M8MMN7NN7=IMM,: =+=::
          ~? ..?8M$?MZ~   OOMMM  :M?:   =MNO$8$DMDNOI IDMNMMDN$7=:NM.:  ~+. 
         :?  .+?MZ IM$, =IZIDM,  ~+D?   +M7=7I$7M8NZ$. ?ZNNMMO87+,7M:.   :~.
        .?   ,~?7. $O$.~~7+MM$  ,~:~=~  ZM?:.~I78MO~$I, +O8MN7$+~:=O7 .   .:
       .:    =+N~  777++?~7OM   ,:  .=+=IM~    .I8N7~??..?$OM8O7..:87       
       :    .:$+   +II~ ,.D8,   :.    I?IN,      ZOO+~?= .=7?D87.,.IZ:      
            ,~$~   :?~ ~.:DN    .     ,??O.      .+ZI?++,..,++MO:  ,O       
            .::    .=,.. ?$:         .,..=:       I?.~,~,   =~=Z,  .7,      
            .+:    .~. . +I         ..   ,:.      .=?  ~~.   ~ ?+   ,~      
             I      ~    +I               ~.       .?.   ~,   ~.=~   ~      
             ,      ~    ?,                :         .     .   , +,   ,     
             ,      ~   ,=                 ..        .      .     ~,   ,    
            .       :   :~                                        . .   ,   
                    ,   +.                                           .   ,  
                    .   .                                             .   . 
 _____      _                     _    _____ _             _ _       
|  __ \    (_)                   | |  / ____| |           | (_)      
| |__) | __ _ ___ _ __ ___   __ _| | | (___ | |_ _   _  __| |_  ___  
|  ___/ '__| / __| '_ ` _ \ / _` | |  \___ \| __| | | |/ _` | |/ _ \ 
| |   | |  | \__ \ | | | | | (_| | |  ____) | |_| |_| | (_| | | (_) |
|_|   |_|  |_|___/_| |_| |_|\__,_|_| |_____/ \__|\__,_|\__,_|_|\___/ 
                                               ___ ___  _ __ ___  
                                              / __/ _ \| '_ ` _ \ 
                                             | (_| (_) | | | | | |
                                            (_)___\___/|_| |_| |_|
 -->
{% load staticfiles %}
{% load i18n %}
{% load tags %}
 
{% url 'index' as index_url %}
{% url 'resume:resume_index' as resume_url %}
 
 
 <!doctype html><html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="{% block meta_description %}A layout example that shows off a responsive product landing page.{% endblock %}">

    <title>{% block title %}Prismal Studio{% endblock %}</title>

	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.4.2/pure.css">
	
	
	  
	    <!--[if lte IE 8]>
	        <link rel="stylesheet" href="css/main-grid-old-ie.css">
	    <![endif]-->
	    <!--[if gt IE 8]><!-->
	        <link rel="stylesheet" href="{% static 'prismal/css/main-grid.css' %}">
	    <!--<![endif]-->
	  
	  
	    <!--[if lte IE 8]>
	        <link rel="stylesheet" href="css/layouts/marketing-old-ie.css">
	    <![endif]-->
	    <!--[if gt IE 8]><!-->
	        <link rel="stylesheet" href="{% static 'prismal/css/layouts/marketing.css' %}">
	    <!--<![endif]-->
	
	
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
	
	{% block additional_style %}{% endblock %}
	
	<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
	<script type="text/javascript" src="{% static 'common/js/konami.js' %}"></script>
	

</head>
<body>

{% trans "Home" as home_link %}
{% trans "Projects" as project_link %}
{% trans "About" as about_link %}
{% trans "Blog" as blog_link %}
{% trans "Contact" as contact_link %}

{% block nav_menu %}
<div class="header">
    <div class="home-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
       {% block nav_menu_header %}<a class="pure-menu-heading" href="{% url 'index' %}">Prismal Studio</a>{% endblock %}

        <ul>
            <!--  li class="{% active request index_url %}"><a href="{% url 'index' %}">{{ home_link }}</a></li -->
            <li><a href="">{{ about_link }}</a></li>
            <li class="{% active request resume_url %}"><a href="{% url 'resume:resume_index' %}">{{ project_link }}</a></li>
            <li><a href="{% url 'blog' %}">{{ blog_link }}</a></li>
            <li><a href="">{{ contact_link }}</a></li>
        </ul>
    </div>
    
</div>
{% endblock %}


{% block splash %}
{% endblock %}


{% block body %}
{% endblock %}


<script type="text/javascript">
	var easter_egg = new Konami("{% url 'admin:index' %}");
</script>
</body>
</html>